body {
    font-family: Arial;
    background: #f0f0f0;
    padding: 20px;
}

h2 {
    text-align: center;
}

select {
    padding: 6px;
    margin: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 10px;
    border: 1px solid gray;
    text-align: center;
}
